[Desktop Entry]
Name=Epub阅读器
Comment=EPUB 3.0 reader for GDK mini (MIPS/uClibc/SDL1.2) v1.1.2
Exec=epubreader
Icon=epubreader_icon
Type=Application
Categories=applications;
X-OD-NeedsJoystick=true
X-OD-NeedsGSensor=false
StartupNotify=true
Terminal=false
