[Desktop Entry]
Name=Epub阅读器
Comment=EPUB 3.0 reader for GDK mini (MIPS/uClibc/SDL1.2) v1.1.2
Exec=launch.sh
Icon=icon
Type=Application
Categories=games;
X-OD-NeedsJoystick=true
X-OD-NeedsGSensor=true
StartupNotify=true
Terminal=false
